{% extends 'base.html' %}

{% block content %}
<div class="title">
    <h1>Crop dan Resize Gambar</h1>
</div>
<form method="POST" action="{{ url_for('crop_and_resize') }}" enctype="multipart/form-data" class="form">
    <div class="form-group">
        <label for="file">Pilih Gambar:</label>
        <input type="file" name="file" accept=".jpg, .jpeg, .png" required>
    </div>

    <div class="form-group">
        <label for="crop-width">Lebar Crop:</label>
        <input type="number" id="crop-width" name="crop_width" min="1" value="100" required>
    </div>

    <div class="form-group">
        <label for="crop-height">Tinggi Crop:</label>
        <input type="number" id="crop-height" name="crop_height" min="1" value="100" required>
    </div>

    <div class="form-group">
        <label for="resize-width">Lebar Resize:</label>
        <input type="number" id="resize-width" name="resize_width" min="1" value="200" required>
    </div>

    <div class="form-group">
        <label for="resize-height">Tinggi Resize:</label>
        <input type="number" id="resize-height" name="resize_height" min="1" value="200" required>
    </div>

    <button type="submit">Proses Gambar</button>
</form>

{% if result_image %}
    <div class="result-section">
        <h2>Gambar Hasil Crop dan Resize</h2>
        <img src="{{ result_image }}" alt="Gambar Hasil Crop dan Resize">
        <a href="{{ result_image }}" download class="download-button">
            <button>Unduh Gambar</button>
        </a>
    </div>
{% endif %}

<p>{{ message }}</p>
{% endblock %}
